.*{
	margin:0;
	padding: 0;
	box-sizing:border-box;	
	
}

body{

	height: 100vh;
	background: #131416;
	display: flex;
	justify-content:center;
	align-items: center;
	

}


.box {
  width: 498px;
  height: 498px;
  background-color: rgb(31, 31, 31);
  position: relative;
  border:2px solid;
  -moz-border-radius : 50px;
  -webkit-border-radius : 25px;
   border-radius : 50%;
}

.box::before,
.box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ff0000, #00f0f0, #00ff00, #0000ff, #ff0000, #00f0f0, #00ff00, #0000ff, #f00f0f);
  width: 498px;
  height: 498px;
  transform: scale(1.02);
  z-index: -1;
  background-size: 500%;
  animation: animate 20s infinite;
  border:2px solid;
  -moz-border-radius : 25px;
  -webkit-border-radius : 25px;
   border-radius : 50%;
}


.box::after {
  filter: blur(20px);
}


@keyframes animate {
  0% { background-position: 0 0; }
  50% { background-position: 300% 0; }
  100% { background-position: 0 0; }
}